* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.titanic_title {
	text-align: center;
	font-size: 30px;
	color: lightcoral;
	display: block !important;
}
form {
	align-items: center;
}

label {
	font-size: 20px;
	color: yellowgreen;
	margin-right: 10px;
}
button {
	margin-left: 10px;
}
.container {
	background-color: lightgreen;
	margin: 30px auto;
	justify-content: center;
	display: flex;
}
.main_container {
	background-color: lightgreen;
	margin: 30px auto;
	border: 1px solid black;
	align-items: center;
}
table {
	text-align: center;
	border: 1px solid black !important;
}
